#define COMBO_TERM_FAST 35
#define COMBO_TERM_SLOW 40


#define HRC_tab &hml LG(LCTRL) TAB
#define HRC_num &hmr_num LG(LCTRL) 0

#define HRC_lpar &hml LA(LCTRL) LPAR
#define HRC_rpar &hmr LA(LCTRL) RPAR
#define HRC_lt &hml LALT LT
#define HRC_gt &hmr LALT GT
#define HRC_fslh &hml LALT FSLH
#define HRC_bslh &hmr LALT BSLH

#define HRC_dqt &hml LG(LALT) DQT
#define HRC_plus &hmr LG(LALT) PLUS

#define HRC_dllr &hml LCTRL DLLR
#define HRC_prcnt &hmr LCTRL PRCNT
#define HRC_caret &hml LCTRL CARET
#define HRC_amps &hmr LCTRL AMPS

#define HRC_at &hml LALT AT
#define HRC_hash &hmr LALT HASH

#define HRC_pipe &hml LALT PIPE
#define HRC_tilde &hmr LALT TILDE





ZMK_COMBO(combo_tab, HRC_tab, LM1 LM3, DEF NUM FN NAVI GER,  COMBO_TERM_SLOW)
ZMK_COMBO(combo_num, HRC_num, RM1 RM3, DEF NUM FN NAVI GER,  COMBO_TERM_SLOW)


ZMK_COMBO(combo_lbrc, &kp LBRC, LT1 LT2, DEF NUM, COMBO_TERM_SLOW)
ZMK_COMBO(combo_lpar, HRC_lpar, LM1 LM2, DEF NUM, COMBO_TERM_SLOW)
ZMK_COMBO(combo_lbkt, &kp LBKT, LB1 LB2, DEF NUM, COMBO_TERM_SLOW)

ZMK_COMBO(combo_rbrc, &kp RBRC, RT1 RT2, DEF NUM, COMBO_TERM_SLOW)
ZMK_COMBO(combo_rpar, HRC_rpar, RM1 RM2, DEF NUM, COMBO_TERM_SLOW)
ZMK_COMBO(combo_rbkt, &kp RBKT, RB1 RB2, DEF NUM, COMBO_TERM_SLOW)

ZMK_COMBO(combo_lt, HRC_lt, LT1 LM2, DEF NUM, COMBO_TERM_SLOW)
ZMK_COMBO(combo_fslh, HRC_fslh, LM2 LB1, DEF NUM, COMBO_TERM_SLOW)
ZMK_COMBO(combo_gt, HRC_gt, RT1 RM2, DEF NUM, COMBO_TERM_SLOW)
ZMK_COMBO(combo_bslh, HRC_bslh, RM2 RB1, DEF NUM, COMBO_TERM_SLOW)

ZMK_COMBO(combo_sqt, &kp SQT, LT2 LT3, DEF NUM, COMBO_TERM_SLOW)
ZMK_COMBO(combo_dqt, HRC_dqt, LM2 LM3, DEF NUM, COMBO_TERM_SLOW)
ZMK_COMBO(combo_grave, &kp GRAVE, LB2 LB3, DEF NUM, COMBO_TERM_SLOW)

ZMK_COMBO(combo_equal, &kp EQUAL, RT2 RT3, DEF NUM, COMBO_TERM_SLOW)
ZMK_COMBO(combo_plus, HRC_plus, RM2 RM3, DEF NUM, COMBO_TERM_SLOW)
ZMK_COMBO(combo_astrk, &kp ASTRK, RB2 RB3, DEF NUM, COMBO_TERM_SLOW)

ZMK_COMBO(combo_dllr, HRC_dllr, LT2 LM1, DEF NUM, COMBO_TERM_SLOW)
ZMK_COMBO(combo_prcnt, HRC_prcnt, RT2 RM1, DEF NUM, COMBO_TERM_SLOW)
ZMK_COMBO(combo_caret, HRC_caret, LM1 LB2, DEF NUM, COMBO_TERM_SLOW)
ZMK_COMBO(combo_amps, HRC_amps, RM1 RB2, DEF NUM, COMBO_TERM_SLOW)

ZMK_COMBO(combo_at, HRC_at, LT3 LM2, DEF NUM, COMBO_TERM_SLOW)
ZMK_COMBO(combo_hash, HRC_hash, RT3 RM2, DEF NUM, COMBO_TERM_SLOW)

ZMK_COMBO(combo_pipes, HRC_pipe, LM2 LB3, DEF NUM, COMBO_TERM_SLOW)
ZMK_COMBO(combo_tildes, HRC_tilde, RM2 RB3, DEF NUM, COMBO_TERM_SLOW)

