#define COMBO_TERM_FAST 35
#define COMBO_TERM_SLOW 40

#define HRC_dqt_sqt &hml_dqt_sqt LA(LCTRL) 0
#define HRC_pipe_tilt &hml_pipe_tilt LA(LGUI) 0

#define HRC_lpar_rpar &hml_lpar_rpar LA(LCTRL) 0
#define HRC_minus_under &hml_minus_under LA(LGUI) 0

#define HRC_esc &hml LG(LCTRL) ESC
#define HRC_enter &hml LG(LCTRL) ENTER  


// #define HRC_dqt_sqt &hml_dqt_sqt LS(LCTRL) 0
// #define HRC_pipe_tilt &hml_pipe_tilt LA(LCTRL) 0

// ZMK_COMBO(combo_num_layer, &smart_num NUM 0, LM1 LM3, DEF NUM , COMBO_TERM_FAST)
//ZMK_COMBO(combo__layer, &smart_ger GER GER, RM1 RM3, DEF NUM GER, COMBO_TERM_FAST)

ZMK_COMBO(combo_esc, HRC_esc, LM1 LM3, DEF NUM , COMBO_TERM_SLOW)
ZMK_COMBO(combo_enter, HRC_enter, RM1 RM3, DEF NUM , COMBO_TERM_SLOW)

ZMK_COMBO(combo_lt_gt, &lt_gt, LT1 LT2, DEF NUM , COMBO_TERM_SLOW)
ZMK_COMBO(combo_dqt_sqt, HRC_dqt_sqt, LM1 LM2, DEF NUM , COMBO_TERM_SLOW)
ZMK_COMBO(combo_flsh_bslh, &flsh_bslh, LB1 LB2, DEF NUM , COMBO_TERM_SLOW)
ZMK_COMBO(combo_dllr_amps, &dllr_amps, LT2 LT3, DEF NUM , COMBO_TERM_SLOW)
ZMK_COMBO(combo_pipe_tilt, HRC_pipe_tilt, LM2 LM3, DEF NUM , COMBO_TERM_SLOW)
ZMK_COMBO(combo_grave_caret, &grave_caret, LB2 LB3, DEF NUM , COMBO_TERM_SLOW)
// ZMK_COMBO(combo_euro_sign, &euro_sign, LT4 LT3, DEF NUM , COMBO_TERM_SLOW)
// ZMK_COMBO(combo_qmark_excl, &qmark_excl, LM4 LM3, DEF NUM , COMBO_TERM_SLOW)


ZMK_COMBO(combo_lbkt_rbkt, &lbkt_rbkt, RT1 RT2, DEF NUM , COMBO_TERM_SLOW)
ZMK_COMBO(combo_lpar_rpar, HRC_lpar_rpar, RM1 RM2, DEF NUM , COMBO_TERM_SLOW)
ZMK_COMBO(combo_lbrc_rbrc, &lbrc_rbrc, RB1 RB2, DEF NUM , COMBO_TERM_SLOW)
ZMK_COMBO(combo_equal_prcnt, &equal_prcnt, RT2 RT3, DEF NUM , COMBO_TERM_SLOW)
ZMK_COMBO(combo_minus_under, HRC_minus_under, RM2 RM3, DEF NUM , COMBO_TERM_SLOW)
ZMK_COMBO(combo_plus_astrk, &plus_astrk, RB2 RB3, DEF NUM , COMBO_TERM_SLOW)
// ZMK_COMBO(combo_semi_colon, &semi_colon, RM3 RM4, DEF NUM , COMBO_TERM_SLOW)
